h2 {
    border: 2px solid #08669c;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
p {
    border-radius: 5px;
    padding: 5px;
}
img {
    width: 100%;
    height: auto;
}
